<table>
	<tr>
		<th>
			Nome
		</th>
		<th>
			Ações
		</th>
	</tr>
	<% @roles.each do |role|%>
		<tr>
			<td>
				<%= role.name %>
			</td>
			<td>
				<%= link_to  'Visualizar', role_path(role.id)%>
				<%= link_to  'Editar', edit_role_path(role.id)%>
			</td>		
    	</tr>
	<%end%>
</table>

<%= link_to 'Nova role', new_role_path %>
